.app__page{
  display:flex;
}
.bodi{
  /* font-size:10px; */
  display:flex;
  background-color: lightgray;
}
.img{
  /* width:500px; */
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  border:solid;
}
.img__container{
  position: relative;
  z-index: 0;
}
.loading{
  font-size: 25px;
  background-color: #ffffffa8;
  z-index: 1;
  position: absolute;
  top: 8px;
  left: 16px;
}
.videos{
  display:flex;
  flex-wrap: wrap;
  align-items: flex-end;
  /* width:400px; */
  background-color:black;
}
.formating{
  /* border:solid white; */
  width: 100%;
}
.formating2{
  width: 95vw ;
  /* border: solid blue; */
  height: 30vw;
  /* height: auto; */
}
.titulo{
  /* font-size: smaller; */
  /* display:flex; */
  text-align: center;
  /* column-fill: auto; */
  width: 320px;
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  color:#afafaf
  
  /* text-justify: auto; */
}
.card{
 background-color: #050505;
 /* width: 200px; */
}
.music{
  display:flex;
  flex-wrap: wrap;
  
}
audio{
  border:solid black 8px;
  /* color:green; */
  width:100%;
  background-color:#ffffff;
  z-index: 0;
}
/* .musicPlayer{ */
  /* border:solid; */
/* } */
/* .music__element{ */
  /* border:solid; */
/* } */
.img__element{
  border:solid;
}
.img__unit{
  border:solid;
  width: 150px;
  height: auto;
}
@media only screen and (max-width: 475px){
  .img__unit{
    border:solid;
    width: 300px;
    height: auto;
  }
}
.img__view{
  border:solid;
  height: 70%;
  width: 70%;
}
.img__exp{
  border:solid;
  width:100%;
  height: 100%;
}
.vid{
  border:solid;
  width:100%;
  /* height: 100%; */
}
.player{
  position: sticky;
  top: 120px;
  background-color: #afafaf;
}
.music__element{
  width: 320px;
  height: 150px;
  font-family: 'Changa', sans-serif;
  float: left;
/* width:1000px; */
  overflow-y: auto;
/* height: 100px; */
  border-left:solid 2px;
}
.music__title{
  /* text-align: right; */
  /* border: solid; */
  font-family: 'Changa', sans-serif;

  background-color: white;
  width: 320px;
}
.music__unit{
  /* border:solid; */
  font-family: 'Audiowide', cursive;

  background-color: #ababab;
}
.spectrum{
  position: sticky;
  top: 165px;
  left: 130px;
  right: 50px;
  width:80%;
  background-color: rgba(35, 180, 100, 0.432); 
}
.footer{
  position :fixed;
  bottom: 0;
  width:100%;

}
.tit{
  background-color: black;
  color: white;
}
.draws__buttons{
  display: flex;
  justify-content: safe;
  text-align: left;
  align-items: center;

}
.btn{
  width:40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  border-radius: 25%;
}